.layout_padding {
    padding-bottom: 80px;
    padding-top: 80px;
}

.banner_section{ 
     width: 100%; 
     float: left;
     background-image: url(/media/images/leads/banner.jpg);
     height: auto;  
     background-size: 100%;
     background-repeat: no-repeat;
}

.banner_taital{
     width: 100%;
     float: left;
     color: #ffffff;
     font-size: 44pt;
     text-align: center;
}

.browse_text{
     width: 100%;
     float: left;
     font-size: 14pt;
     color: #ffffff;
     text-align: center;
     padding-bottom: 50px;
     font-weight: 500;
     margin-left: 0px;
}

.banner_bt{
     width: 100%;
     margin: 0 auto;
     text-align: center;
}

.read_bt{
     width: 20%;
     height: 50px;
     background-color: #69c934;
     color: #ffffff;
     border: 0px;
     font-size: 17pt;
     margin-bottom: 100px;
     margin-top: -15px;
}

.search_box{
     width: 100%;
     float: left;
     background-color: #ffffff;
     height: auto;
     padding: 60px 20px;
     top: -125px;
     position: relative;
     box-shadow: 0px 0px 8px 0px;
}

.email_boton{
     width: 100%;
     float: left;
     color: #b2b1b1;
     border: 1px solid #69c934;
     padding: 10px 15px;
     font-size: 14pt;
}

.search_bt{
     width: 90%;
     float: left;
     color: #ffffff;
     background-color: #69c934;
     font-size: 14pt;
     border: 0px;
     height: 55px;
}
