@media (min-width: 992px) and (max-width: 1199px) {
    .banner_taital { font-size: 42pt;}
    .browse_text { padding-bottom: 10px;}
    .search_box { padding: 20px;}
}

@media (min-width: 768px) and (max-width: 991px) {

    .banner_taital { font-size: 33pt;}
    .browse_text { font-size: 13pt; padding-bottom: 0px;}
    .read_bt { width: 30%; }
    .search_box { padding: 20px 20px; top: -164px; }
}

@media (min-width: 576px) and (max-width: 767px) {


.banner_section { background-size: cover;}
.banner_taital { font-size: 24pt;}
.browse_text { font-size: 12pt;}
.read_bt { width: 32%; }
.email_boton { font-size: 11pt; padding: 11px 11px;}

}


@media (max-width: 575px) {


.banner_taital { font-size: 16pt;}
.browse_text { font-size: 9pt; padding-bottom: 0px;}
.layout_padding { padding-bottom: 30px; padding-top: 30px; background-size: cover; }
.email_boton { margin-top: 20px;}
.search_bt { width: 100%; margin-top: 20px;  }
.read_bt { width: 55%; font-size: 13pt; }
.search_box { margin-top: 20px;}
}
