{% extends 'leads/filter.html' %}
{% block title %}Srot :: Beds Leads{% endblock title %}
{% block css %}
{% endblock css %}

{% block body %}

    <div>
        {% for bed in beds %}
        {% if bed.volunteer_deleted == "No" %}
        <div class="card">
            <div class="card-text">
                <div class="portada"  style="background-image: url('/media/images/leads/bed.jpg');">
                </div>
                <div class="title-total">
                    <div class="title">
                    </div>
                    <br>
                    <div class="service-type"><button class="btn warning">Hospital Beds</button></div>
                    <div class="service"><button class="btn info">Available Beds: {{ bed.hospital_beds }}</button>
                    </div>
                    <div class="verified"><button class="btn success">{{ bed.volunteer_verify }}</button></div>
                    <div class="contact"><button><i class="fas fa-phone"></i></button>{{ bed.hospital_contact }}
                    </div>
                    <div class="location"><button><i
                                class="fas fa-map-marker-alt"></i></button>{{ bed.hospital_city }}</div>
                    <h2>{{ bed.hospital_name }}</h2>
                    <div class="desc">{{ bed.hospital_address }}</div>
                    <div class="actions">
                        <input type="text" value='DETAILS FROM SROT - *Name*: {{ bed.hospital_name }}, *Address*:  {{ bed.hospital_address }}, *Available Beds*: {{ bed.hospital_beds }}, *contact*:{{ bed.hospital_contact }}, *city*:{{ bed.hospital_contact }}' id="copyToClipboardContent{{bed.id}}" style="display: none;">

                        <button onclick="copyToClipboard({{bed.id}})"><i class="far fa-clone"></i></button>

                        <button id="whatsapp_button" onclick="sendWhatsapp('*DETAILS FROM SROT* %0a %0a*Name*: {{ bed.hospital_name | safe}} %0a*Address*:  {{ bed.hospital_address | safe }} %0a*Available Beds*: {{ bed.hospital_beds | safe }} %0a*contact*:{{ bed.hospital_contact | safe }} %0a*city*:{{ bed.hospital_city | safe }}')"><i class="fab fa-whatsapp"></i></button>

                        <button onclick="window.open('https://twitter.com/share?text=*DETAILS FROM SROT* %0a %0a*Name*: {{ bed.hospital_name | safe}} %0a*Address*:  {{ bed.hospital_address | safe }} %0a*Available Beds*: {{ bed.hospital_beds | safe }} %0a*contact*:{{ bed.hospital_contact | safe }} %0a*city*:{{ bed.hospital_city | safe }}')"><i class="fab fa-twitter"></i></button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

{% endblock body %}

{% block scripts %}
<script>
    document.getElementById("beds_filter").selected = true;

</script>
{% endblock scripts %}