{% extends 'leads/filter.html' %}
{% block title %}Srot :: Food Leads{% endblock title %}
{% block css %}
{% endblock css %}

{% block body %}



    <div>
        {% for food in foods %}
        {% if food.volunteer_deleted == "No" %}
        <div class="card">
            <div class="card-text">
                <div class="portada" style="background-image: url('/media/images/leads/food.jpg');">
                </div>
                <div class="title-total">
                    <div class="title">
                    </div>
                    <br>
                    <div class="service-type"><button class="btn warning">Food Supplier</button></div>
                    <div class="service"><button class="btn info">Charges : {{ food.food_supplier_service }} </button>
                    </div>
                    <div class="verified"><button class="btn success">{{ food.volunteer_verify }}</button></div>
                    <div class="contact"><button><i class="fas fa-phone"></i></button>{{ food.food_supplier_contact }}
                    </div>
                    <div class="location"><button><i
                                class="fas fa-map-marker-alt"></i></button>{{ food.food_supplier_city }}</div>
                    <h2>{{ food.food_supplier_name }}</h2>
                    <div class="desc">{{food.food_supplier_address}}</div>
                    <div class="actions">
                        <input type="text" value='DETAILS FROM SROT - *Name*: {{ food.food_supplier_name }}, *Address*:  {{food.food_supplier_address}}, *Service Type*: {{ food.food_supplier_service }}, *contact*:{{ food.food_supplier_contact }}, *city*:{{ food.food_supplier_city }}' id="copyToClipboardContent{{food.id}}" style="display: none;">

                        <button onclick="copyToClipboard({{food.id}})"><i class="far fa-clone"></i></button>

                        <button id="whatsapp_button" onclick="sendWhatsapp('*DETAILS FROM SROT* - %0a*Name*: {{ food.food_supplier_name }} %0a*Address*:  {{food.food_supplier_address}} %0a*Service Type*: {{ food.food_supplier_service }} %0a*contact*:{{ food.food_supplier_contact }} %0a*city*:{{ food.food_supplier_city }}')"><i class="fab fa-whatsapp"></i></button>

                        <button onclick="window.open('https://twitter.com/share?text=*DETAILS FROM SROT* - %0a*Name*: {{ food.food_supplier_name }} %0a*Address*:  {{food.food_supplier_address}} %0a*Service Type*: {{ food.food_supplier_service }} %0a*contact*:{{ food.food_supplier_contact }} %0a*city*:{{ food.food_supplier_city }}')"><i class="fab fa-twitter"></i></button>

                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
{% endblock body %}

{% block scripts %}
<script>
    document.getElementById("food_filter").selected = true;
</script>
{% endblock scripts %}
