{% extends 'basic.html' %}
{% block basic_title %} Srot :: Home Plasma Leads {% endblock basic_title %}

{% block basic_head %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> {% endcomment %}
<link rel="stylesheet" href="/media/css/volunteer.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&amp;subset=latin,latin-ext">
{% endblock basic_head %}


{% block basic_body %}


    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Plasma <b>Leads</b></h2>
                </div>
                <div class="col-sm-6">
                    <div class="btn-group" data-toggle="buttons">

                        <label class="btn btn-info active">
                            <span style="margin-right: -10px;">All</span>
                            <input type="radio" name="status" value="all" style="visibility:hidden;" checked="checked">
                        </label>
                        <label class="btn btn-success">
                            <span style="margin-right: -10px;">Verified</span>
                            <input type="radio" name="status" value="active" style="visibility:hidden;">
                        </label>
                        <label class="btn btn-danger">
                            <span style="margin-right: -10px;">Unverified</span>
                            <input type="radio" name="status" value="expired" style="visibility:hidden;">
                        </label>

                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Resource</th>
                    <th>Name</th>
                    <th>Contact</th>
                    <th>Age</th>
                    <th>City</th>
                    <th>Blood Group</th>
                    <th>Gender</th>
                    <th>Status</th>
                    <th>Verification</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for plas in plass %}
                {% if  plas.volunteer_verify == "Verified" %}
                <tr data-status="active">
                    <td style="color: #FFAE42;">Plasma</td>
                    <td>{{ plas.plasma_donor_name }}</td>
                    <td>{{ plas.plasma_donor_contact }}</td>
                    <td>{{ plas.plasma_donor_age }}</td>
                    <td>{{ plas.plasma_donor_city }}</td>
                    <td>{{ plas.plasma_donor_bloodgroup }}</td>
                    <td>{{ plas.plasma_donor_gender }}</td>
                    <td>{{ plas.volunteer_verify }}</td>
                    <td><a href="{% url 'verifyLead' resource='Plasma' id=plas.id %}"
                            class="btn btn-sm manage">Verify</a></td>
                    <td><a href="#" class="btn open-form" id="e{{plas.id}}" onclick="editplasma(this.id)"
                            style="color:white;">Edit</a></td>
                    <td><a href="{% url 'deleteLead' resource='Plasma' id=plas.id %}"
                            class="btn btn-sm manage">Delete</a></td>
                </tr>
                {% else %}
                <tr data-status="expired">
                    <td style="color: #FFAE42;">Plasma</td>
                    <td>{{ plas.plasma_donor_name }}</td>
                    <td>{{ plas.plasma_donor_contact }}</td>
                    <td>{{ plas.plasma_donor_age }}</td>
                    <td>{{ plas.plasma_donor_city }}</td>
                    <td>{{ plas.plasma_donor_bloodgroup }}</td>
                    <td>{{ plas.plasma_donor_gender }}</td>
                    <td>{{ plas.volunteer_verify }}</td>
                    <td><a href="{% url 'verifyLead' resource='Plasma' id=plas.id %}"
                            class="btn btn-sm manage">Verify</a></td>
                    <td><a href="#" class="btn open-form" id="e{{plas.id}}" onclick="editplasma(this.id)"
                            style="color:white;">Edit</a></td>
                    <td><a href="{% url 'deleteLead' resource='Plasma' id=plas.id %}"
                            class="btn btn-sm manage">Delete</a></td>

                </tr>
                {% endif %}
                {% endfor %}

                <div class="form-popup">
                    <div class="container form-wrapper">
                        <button class="btn close-form">Close</button>
                        <form id="my-form" novalidate="novalidate" action="{% url 'editplasma' %}" method="POST">
                            {% csrf_token %}
                            <input type="text" id="form_id" hidden name="form_id">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h1 class="form-title">Plasma Donor Details</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="plasma_donor_name"
                                        name="plasma_donor_name" required="">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="email">E-mail</label>
                                    <input type="text" class="form-control" id="plasma_donor_email"
                                        name="plasma_donor_email" required="">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="email">Contact</label>
                                    <input type="text" class="form-control" id="plasma_donor_contact"
                                        name="plasma_donor_contact" required="">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="email">City</label>
                                    <input type="text" class="form-control" id="plasma_donor_city"
                                        name="plasma_donor_city" required="">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="email">Age</label>
                                    <input type="text" class="form-control" id="plasma_donor_age"
                                        name="plasma_donor_age" required="">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="plasma_donor_bloodgroup">Blood Group</label>
                                    <select name="plasma_donor_bloodgroup" id="plasma_donor_bloodgroup" class="form-control">
                                        <option value="A+">A+</option>
                                        <option value="B+">B+</option>
                                        <option value="AB+">AB+</option>
                                        <option value="O+">O+</option>
                                        <option value="A-">A-</option>
                                        <option value="B-">B-</option>
                                        <option value="AB-">AB-</option>
                                        <option value="O-">O-</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="verify">Gender</label><br>
                                    <input type="radio" id="plasma_donor_male" name="plasma_donor_gender" value="Male">
                                    <label for="plasma_donor_gender">Male</label><br>
                                    <input type="radio" id="plasma_donor_female" name="plasma_donor_gender"
                                        value="Female">
                                    <label for="plasma_donor_gender">Female</label><br>
                                    <input type="radio" id="plasma_donor_other" name="plasma_donor_gender"
                                        value="Other">
                                    <label for="plasma_donor_gender">Other</label><br>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="verify">Volunteer Verification</label><br>
                                    <input type="radio" id="plasma_vol_verify" name="plasma_vol_verify"
                                        value="Verified">
                                    <label for="plasma_vol_verify">Verified</label><br>
                                    <input type="radio" id="plasma_vol_unverify" name="plasma_vol_verify"
                                        value="Unverified">
                                    <label for="plasma_vol_verify">Unverified</label><br>
                                </div>
                            </div>

                            <button type="submit" class="btn send-form">Save</button>
                        </form>
                    </div>
                </div>


            </tbody>
        </table>
    </div>
{% endblock basic_body %}

{% block basic_scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/media/js/volunteer.js"></script>

<script>

    function editplasma(id) {
        console.log(id)
        $.ajax({
            type: 'GET',
            url: {% url 'editplasma' %},
            data: {
            'plasma_id': id
        },

        })
        .success(function (data) {
            var details = data.details[0]
            $('#form_id').val(details.id)
            $('#plasma_donor_name').val(details.plasma_donor_name)
            $('#plasma_donor_email').val(details.plasma_donor_email)
            $('#plasma_donor_contact').val(details.plasma_donor_contact)
            $('#plasma_donor_city').val(details.plasma_donor_city)
            $('#plasma_donor_age').val(details.plasma_donor_age)
            $('#plasma_donor_bloodgroup').val(details.plasma_donor_bloodgroup)

            if (details.plasma_donor_gender == 'Male') {
                $('#plasma_donor_male').prop('checked', true)
            }
            else if (details.plasma_donor_gender == 'Paid') {
                $('#plasma_donor_female').prop('checked', true)
            }
            else {
                $('#plasma_donor_other').prop('checked', true)
            }

            if (details.volunteer_verify == 'Verified') {
                $('#plasma_vol_verify').prop('checked', true)
            }
            else {
                $('#plasma_vol_unverify').prop('checked', true)
            }
        })
    }

</script>
{% endblock basic_scripts %}