<!DOCTYPE html>
<html lang="en">

<head>
	<!-- basic -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- mobile metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<!-- site metas -->
	<title>Lead Search</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- bootstrap css -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
	<!-- style css -->
	<link rel="stylesheet" type="text/css" href="/media/css/filter.css">
	<!-- Responsive-->
	<link rel="stylesheet" href="/media/css/responsive.css">
	<!-- Tweaks for older IEs-->
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
		media="screen">
 
</head>

<body>
	<!-- header section start -->

	<!-- banner section start -->
	<div class="layout_padding banner_section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="banner_taital">Covid-19 Emergency Resources</h1>
					<p class="browse_text">Do you have verified data and want to add to the database?
					</p>
					<div class="banner_bt">
						<button class="read_bt">Contribute Now</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- banner section end -->
	<!-- search box start -->
	<div class="container">
		<div class="search_box">
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<input list="browsers" class="email_boton" placeholder="Search State" name="Email" style="color: black;">
						<datalist id="browsers">
							<option value="Internet"></option>
							<option value="Firefox"></option>
							<option value="Chrome"></option>
							<option value="Opera"></option>
							<option value="Safari"></option>
						
						</datalist>

					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<input list="browsers" class="email_boton" placeholder="Search City" name="Email" style="color: black;">
						<datalist id="browsers">
							<option value="Internet Explorer">
							<option value="Firefox">
							<option value="Chrome">
							<option value="Opera">
							<option value="Safari">
						</datalist>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<input list="resources" class="email_boton" placeholder="Search Resource" name="Email" style="color: black;">
						<datalist id="resources">
							<option value="All">
							<option value="Oxygen">
							<option value=" Remdesivir/Tocilizumab">
							<option value="Plasma Donor">
							<option value="Food Supplier">
							<option value="Beds">
						</datalist>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<button class="search_bt">Search</button>
					</div>
				</div>

			</div>
		</div>
	</div>
	
	<!-- search box end -->


</body>

</html>