{% extends 'leads/filter.html' %}
{% block title %}Plasma leads{% endblock title %}
{% block css %}
{% endblock css %}

{% block body %}
    
    <div>
        {% for plasma in plasmas %}
        <div class="card">
            <div class="card-text">
                <div class="portada" style="background-image: url('/media/images/leads/plasma.jpg');">
                </div>
                <div class="title-total">
                    <div class="title">
                    </div>
                    <br>
                    <div class="service-type"><button class="btn warning">Plasma Donor</button></div>
                    <div class="service"><button class="btn danger">Blood Group : {{ plasma.plasma_donor_bloodgroup }}</button>
                    </div>

                    <div class="verified"><button class="btn success">Verified</button></div>
                    <div class="contact"><button><i class="fas fa-phone"></i></button>{{ plasma.plasma_donor_contact }}
                    </div>
                    <div class="location"><button><i class="fas fa-map-marker-alt"></i></button>{{ plasma.plasma_donor_city }}</div>
                    <h2>{{ plasma.plasma_donor_name }}</h2>
                    <div class="desc"><b>Blood Group :</b> {{ plasma.plasma_donor_bloodgroup}}
                    <br><b>Gender :</b> {{ plasma.plasma_donor_gender}}
                    <br>
                    <b>Age:</b> {{ plasma.plasma_donor_age }} 
                    </div>
                
                    <div class="actions">
                        <button><i class="far fa-clone"></i></button>
                        <button><i class="fab fa-whatsapp"></i></button>
                        <button><i class="far fa-envelope"></i></button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock body %}

{% block scripts %}
{% endblock scripts %}