{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Discussions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
    <link rel="stylesheet" href="/media/css/discussion.css">

    <!-- IMPPPPPPPP TO KEEP THIS SCRIPT HERE BECAUSE WE ARE USING THIS IN BETWEEN AND KEEPING THIS AT END WILL GIVE $ NOT FOUND ERROR-->
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
</head>

<body>

    <div class="container">
        <div class="main-body p-0">
            <div class="inner-wrapper">
                <!-- Inner sidebar -->
                <div class="inner-sidebar">
                    <!-- Inner sidebar header -->
                    <div class="inner-sidebar-header justify-content-center">
                        <button class="btn btn-primary has-icon btn-block" type="button" data-toggle="modal"
                            data-target="#threadModal">
                            + NEW DISCUSSION
                        </button>
                    </div>
                    <!-- /Inner sidebar header -->

                    <!-- Inner sidebar body -->
                    <div class="inner-sidebar-body p-0">
                        <div class="p-3 h-100" data-simplebar="init">
                            <div class="simplebar-wrapper" style="margin: -16px;">
                                <div class="simplebar-height-auto-observer-wrapper">
                                    <div class="simplebar-height-auto-observer"></div>
                                </div>
                                <div class="simplebar-mask">
                                    <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                        <div class="simplebar-content-wrapper"
                                            style="height: 100%; overflow: hidden scroll;">
                                            <div class="simplebar-content" style="padding: 16px;">
                                                <nav class="nav nav-pills nav-gap-y-1 flex-column">
                                                    <a href="javascript:void(0)"
                                                        class="nav-link nav-link-faded has-icon active">All Threads</a>
                                                    <a href="javascript:void(0)"
                                                        class="nav-link nav-link-faded has-icon">Popular this week</a>
                                                    <a href="javascript:void(0)"
                                                        class="nav-link nav-link-faded has-icon">Popular all time</a>
                                                    <a href="javascript:void(0)"
                                                        class="nav-link nav-link-faded has-icon">Solved</a>
                                                    <a href="javascript:void(0)"
                                                        class="nav-link nav-link-faded has-icon">Unsolved</a>
                                                    <a href="javascript:void(0)"
                                                        class="nav-link nav-link-faded has-icon">No replies yet</a>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="simplebar-placeholder" style="width: 234px; height: 292px;"></div>
                            </div>
                            <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                                <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                            </div>
                            <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                                <div class="simplebar-scrollbar"
                                    style="height: 151px; display: block; transform: translate3d(0px, 0px, 0px);"></div>
                            </div>
                        </div>
                    </div>
                    <!-- /Inner sidebar body -->
                </div>
                <!-- /Inner sidebar -->

                <!-- Inner main -->
                <div class="inner-main">
                    <!-- Inner main header -->
                    <div class="inner-main-header">
                        <button class="btn btn-primary has-icon btn-block d-md-none" type="button" data-toggle="modal"
                            data-target="#threadModal" style="padding: 0px;">
                            + NEW DISCUSSION
                        </button>
                        <select class="custom-select custom-select-sm w-auto mr-1 mx-1">
                            <option selected="">Latest</option>
                            <option value="1">Popular</option>
                            <option value="3">Solved</option>
                            <option value="3">Unsolved</option>
                            <option value="3">No Replies Yet</option>
                        </select>
                        <span class="input-icon input-icon-sm ml-auto w-auto">
                            <input type="text"
                                class="form-control form-control-sm bg-gray-200 border-gray-200 shadow-none mb-4 mt-4"
                                placeholder="Search forum" />
                        </span>
                    </div>
                    <!-- /Inner main header -->

                    <!-- Inner main body -->

                    <!-- Forum List -->
                    <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">

                        {% for discussion in all_dis %}
                        <div class="card mb-2">
                            <div class="card-body p-2 p-sm-3">
                                <div class="media forum-item">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                        class="mr-3 rounded-circle" width="50" alt="User" />
                                    <div class="media-body">
                                        <h6><a href="#" style="text-decoration: none;" data-toggle="modal"
                                                data-target="#threadModal{{forloop.counter}}"
                                                class="text-body stretched-link" onclick="showComments({{discussion.id | safe}})">{{discussion.title}}</a></h6>
                                        <p class="text-secondary">
                                            {{discussion.information | slice:":100"}}
                                        </p>
                                        <p class="text-muted"><a href="javascript:void(0)">{{discussion.user}}</a> added
                                            <span
                                                class="text-secondary font-weight-bold">{{discussion.timestamp | naturaltime}}</span>
                                        </p>
                                    </div>
                                    <div class="text-muted small text-center align-self-center">
                                        <span class="d-none d-sm-inline-block"><i class="far fa-eye"></i> 19</span>
                                        <span><i class="far fa-comment ml-2"></i> 3</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="threadModal{{forloop.counter}}" tabindex="-1" role="dialog"
                            aria-labelledby="threadModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="card mb-2">
                                        <div class="card-body">
                                            <div class="media forum-item">
                                                <div class="media-body ml-3">
                                                    <a href="javascript:void(0)"
                                                        class="text-secondary">{{discussion.user}}</a>
                                                    <small
                                                        class="text-muted ml-2">{{discussion.timestamp | naturaltime}}</small>
                                                    <h5 class="mt-1">{{discussion.title}}</h5>
                                                    <div class="mt-3 font-size-sm">
                                                        <p>
                                                            {{discussion.information}}
                                                        </p>
                                                    </div>

                                                    <!-- Displaying Phone numbers only if present -->

                                                    {% if discussion.phone_nos %}

                                                    <div class="mt-3 font-size-sm">
                                                        <ul id="phone_num_list{{forloop.counter}}"
                                                            style="padding-left: 0px;">

                                                            <!-- Script to dynamically create li elements with the numbers -->

                                                            <script>
                                                                ul_list = document.getElementById("phone_num_list{{forloop.counter | safe}}")

                                                                all_nums = "{{discussion.phone_nos}}".split(",")

                                                                for (i = 0; i < all_nums.length; i++) {
                                                                    $("#phone_num_list{{forloop.counter | safe}}").append(
                                                                        `<li style="display: flex;font-size:15px">
                                                                                <p><b>Phone number</b> - ${all_nums[i]}</p>
                                                                                &nbsp;&nbsp;&nbsp;
                                                                                <a style="color:black" href="tel:${all_nums[i]}">
                                                                                    <i class="fas fa-phone"></i>
                                                                                </a>
                                                                                &nbsp;&nbsp;&nbsp;
                                                                                <a style="color:black" href="sms:${all_nums[i]}">
                                                                                    <i class="fas fa-sms"></i>
                                                                                </a>
                                                                            </li>`
                                                                    )
                                                                }
                                                            </script>

                                                        </ul>
                                                    </div>
                                                    {% endif %}

                                                    <!-- Displaying Blood Group if present -->

                                                    <!-- We check if the value is not "select" because that is the default for "not choosing" -->

                                                    {% if discussion.blood_grp != "Select" %}
                                                    <div class="mt-3 font-size-sm">
                                                        <p style="font-size:17px">
                                                            <b> Blood Group </b> - {{discussion.blood_grp}}
                                                        </p>
                                                    </div>
                                                    {% endif %}

                                                    <!-- Displaying google map link if available -->

                                                    {% if discussion.map_link%}
                                                    <div class="mt-3 font-size-sm">
                                                        <p style="font-size:15px">
                                                            <b>Google Map Link - </b>
                                                            <a target="_blank" href="{{discussion.map_link}}">Link</a>
                                                        </p>
                                                    </div>
                                                    {% endif %}
                                                    <div class="mt-3 font-size-sm">
                                                    <div class="user-comment">
                                                        <div class="comments-section" id="CommentPanel{{discussion.id}}">
                                                            <h5>Total Comments(0)</h5>
                                                            <div class="comment-add">
                                                                <div class="field-comment">
                                                                    <textarea id="comment_area{{discussion.id}}" rows="4" cols="50"></textarea>
                                                                    <a class="btn btn--blue btn--medium pull-right"
                                                                        href="#" onclick="saveComment({{discussion.id | safe}})">Post Your Comment</a>
                                                                </div>
                                                            </div>
                                                            <br><br>
                                                        </div>
                                                    </div>
                                                </div>



                                                </div>
                                                <div class="small text-center">
                                                    <span class="d-none d-sm-inline-block">Verified</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endfor %}

                    </div>
                    <!-- /Forum List -->

                    <!-- /Inner main body -->
                </div>
                <!-- /Inner main -->
            </div>

            <!-- New Thread Modal -->
            <div class="modal fade" id="threadModal" tabindex="-1" role="dialog" aria-labelledby="threadModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <form method="POST" action="{% url 'discussions' %}"> {% csrf_token %}
                            <div class="modal-header d-flex align-items-center bg-primary text-white">
                                <h6 class="modal-title mb-0" id="threadModalLabel">New Discussion</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">

                                    <!-- Heading of the discussion -->
                                    <label for="heading">Heading</label>
                                    <input type="text" name="title" class="form-control" id="heading" required />

                                    <br>

                                    <!-- Main Information -->
                                    <label for="main_info">Information</label>
                                    <textarea id="main_info" class="form-control" name="main_info" id="" cols="20"
                                        rows="6" required></textarea>

                                    <br>

                                    <!-- Radio Button -->
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="distype" id="distype1"
                                            value="Help Needed">
                                        <label class="form-check-label" for="distype1">
                                            I Want Help
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="distype" id="distype2"
                                            checked value="Helping">
                                        <label class="form-check-label" for="distype2">
                                            I Provide Help
                                        </label>
                                    </div>
                                    <br>

                                    <label for="blood_group">Select Blood Group</label>
                                    <select id="blood_group" name="blood_group"
                                        class="custom-select custom-select-sm w-auto mr-1 mx-1" required>
                                        <option selected="">Select</option>
                                        <option value="A+">A+</option>
                                        <option value="A-">A-</option>
                                        <option value="B+">B+</option>
                                        <option value="B-">B-</option>
                                        <option value="AB+">AB+</option>
                                        <option value="AB-">AB-</option>
                                        <option value="O+">O+</option>
                                        <option value="O-">O-</option>
                                    </select>

                                    <br>
                                    <br>

                                    <label for="ph_nos">Add Phone Numbers (Separated by comma ",") </label>
                                    <input type="text" name="ph_nos" class="form-control" id="ph_nos" />

                                    <br>

                                    <label for="location">Google Maps Link of Location</label>
                                    <input type="text" name="location" class="form-control" id="location" />

                                    <br>

                                    <h3>Select Related tags (Atleast One)</h3>
                                    <!-- Multi Select Drop down -->

                                    <div class="row d-flex justify-content-left mt-100">
                                        <div class="col-md-6"> <select id="choices-multiple-remove-button"
                                                placeholder="Select only relevant" name="hashtags" multiple required>
                                                <option value="Oxygen">Oxygen</option>
                                                <option value="Medicine">Medicine</option>
                                                <option value="Food">Food</option>
                                            </select>
                                        </div>
                                    </div>


                                </div>

                                <!-- <div class="custom-file form-control-sm mt-3" style="max-width: 300px;">
                                    <input type="file" class="custom-file-input" id="customFile" multiple="" />
                                    <label class="custom-file-label" for="customFile">Attachment</label>
                                </div> -->
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Post</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="http://netdna.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>

    <script src="/media/js/discussion.js"></script>
</body>

</html>