{% extends 'leads/filter.html' %}
{% block title %}Beds Leads{% endblock title %}
{% block css %}
{% endblock css %}

{% block body %}
    
    <div>
        {% for bed in beds %}
        <div class="card">
            <div class="card-text">
                <div class="portada"  style="background-image: url('/media/images/leads/bed.jpg');">
                </div>
                <div class="title-total">
                    <div class="title">
                    </div>
                    <br>
                    <div class="service-type"><button class="btn warning">Hospital Beds</button></div>
                    <div class="service"><button class="btn info">Available Beds: {{ bed.hospital_beds }}</button>
                    </div>
                    <div class="verified"><button class="btn success">{{ bed.hospital_verify }}</button></div>
                    <div class="contact"><button><i class="fas fa-phone"></i></button>{{ bed.hospital_contact }}
                    </div>
                    <div class="location"><button><i
                                class="fas fa-map-marker-alt"></i></button>{{ bed.hospital_city }}</div>
                    <h2>{{ bed.hospital_name }}</h2>
                    <div class="desc">{{ bed.hospital_address }}</div>
                    <div class="actions">
                        <button><i class="far fa-clone"></i></button>
                        <button><i class="fab fa-whatsapp"></i></button>
                        <button><i class="far fa-envelope"></i></button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock body %}

{% block scripts %}
{% endblock scripts %}