{% extends 'leads/filter.html' %}
{% block title %}Injection Leads{% endblock title %}
{% block css %}
{% endblock css %}

{% block body %}
    
    <div>
        {% for inj in injs %}
        <div class="card">
            <div class="card-text">
                <div class="portada"  style="background-image: url('/media/images/leads/injection.jpg');">
                </div>
                <div class="title-total">
                    <div class="title">
                    </div>
                    <br>
                    <div class="service-type"><button class="btn warning">Drugs</button></div>
                    <div class="service"><button class="btn info">{{ inj.injection_lead_drugname }}</button>
                    </div>
                    <div class="verified"><button class="btn success">{{ inj.injection_lead_verify }}</button></div>
                    <div class="contact"><button><i class="fas fa-phone"></i></button>{{ inj.injection_lead_contact }}
                    </div>
                    <div class="location"><button><i
                                class="fas fa-map-marker-alt"></i></button>{{ inj.injection_lead_city }}</div>
                    <h2>{{ inj.injection_lead_name }}</h2>
                    <div class="desc">{{ inj.injection_lead_address }}</div>
                    <div class="actions">
                        <button><i class="far fa-clone"></i></button>
                        <button><i class="fab fa-whatsapp"></i></button>
                        <button><i class="far fa-envelope"></i></button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock body %}

{% block scripts %}
{% endblock scripts %}