{% extends 'leads/filter.html' %}
{% block title %}Oxygen Leads{% endblock title %}
{% block css %}
{% endblock css %}

{% block body %}
    
    <div>
        {% for oxy in oxys %}
        <div class="card">
            <div class="card-text">
                <div class="portada" style="background-image: url('/media/images/leads/oxygen.jpg');">
                </div>
                <div class="title-total">
                    <div class="title">
                    </div>
                    <br>
                    <div class="service-type"><button class="btn warning">Oxygen</button></div>
                    <div class="service"><button class="btn info">Cylinder/Concentrator</button>
                    </div>

                    <div class="verified"><button class="btn success">{{ oxy.oxygen_lead_verify }}</button></div>
                    <div class="contact"><button><i class="fas fa-phone"></i></button>{{ oxy.oxygen_lead_contact }}
                    </div>
                    <div class="location"><button><i
                                class="fas fa-map-marker-alt"></i></button>{{ oxy.oxygen_lead_city }}</div>
                    <h2>{{ oxy.oxygen_lead_name }}</h2>
                    <div class="desc">{{ oxy.oxygen_lead_address }}</div>
                    <div class="actions">
                        <button><i class="far fa-clone"></i></button>
                        <button><i class="fab fa-whatsapp"></i></button>
                        <button><i class="far fa-envelope"></i></button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock body %}

{% block scripts %}
{% endblock scripts %}