{% extends "donations/sidebar.html" %}

{% block css %}
<link rel="stylesheet" href="/media/css/plasma.css">
{% endblock css %}

{% block body %}

<div class="container" id="form_container">
  <form id="contact" action="{% url 'injections' %}" method="post"> {% csrf_token %}
    <h3>Remdesivir/Tocilizumab Leads</h3>
<h4>Your help can save someone's life. We appreciate your time and efforts.</h4>    <fieldset>
      <label for="cars">Distributor Name : <label style="color:red;">*</label></label>
      <input placeholder="Name" type="text" tabindex="1" name="injection_lead_name" required autofocus>
    </fieldset>
    <fieldset>
      <label for="cars">Distributor Email/Website : <label style="color:red;">*</label></label>
      <input placeholder="Email/Website" type="email" tabindex="2" name="injection_lead_email" required autofocus>
    </fieldset>
    <fieldset>
      <label for="cars">Distributor Contact: <label style="color:red;">*</label></label>
      <input placeholder="Phone Number" type="tel" tabindex="3" name="injection_lead_contact" required autofocus>
    </fieldset>
    <fieldset>
      <label for="cars">Distributor City: <label style="color:red;">*</label></label>
      <input placeholder="City" type="tel" tabindex="3" name="injection_lead_city" required autofocus>
    </fieldset>

    <fieldset class="form-inline">
      <label for="cars" class="form-inline">Drug Name : <label style="color:red;">*</label></label>

      <select name="injection_lead_drugname" id="cars" required>
        <option value="Remdesivir">Remdesivir</option>
        <option value="Tocilizumab">Tocilizumab</option>
        <option value="Both">Both</option>
        <option value="Other">Other</option>
      </select>
    </fieldset>
    
    <fieldset class="form-inline">
      <label for="cars">Is it verified by you? : <label style="color:red;">*</label></label><p></p>
      <input type="radio" id="yes" name="injection_lead_verify" value="yes">
      <label for="yes">Yes</label><br>
      <input type="radio" id="no" name="injection_lead_verify" value="no">
      <label for="no">No</label><br>
      <input type="radio" id="dont know" name="injection_lead_verify" value="dont know">
      <label for="dont know">Don't Know</label>
    </fieldset>

     <fieldset>
      <label for="cars">Additional Details</label>
      <textarea id="w3review" name="injection_lead_details" rows="4" cols="50"></textarea>
    </fieldset>

    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>

  </form>


</div>

{% endblock %}