{% extends "donations/sidebar.html" %}

{% block css %}
<link rel="stylesheet" href="/media/css/plasma.css">
{% endblock css %}

{% block body %}

<div class="container" id="form_container">
  <form id="contact" action="{% url 'food' %}" method="post"> {% csrf_token %}
    <h3>Food Supplier Leads</h3>
<h4>Your help can save someone's life. We appreciate your time and efforts.</h4>    <fieldset>
      <label for="cars">Supplier Name : <label style="color:red;">*</label></label>
      <input placeholder="Name" type="text" tabindex="1" name="food_supplier_name" required autofocus>
    </fieldset>
    <fieldset>
      <label for="cars">Supplier Email or Website : <label style="color:red;">*</label></label>
      <input placeholder="Email/Website" type="text" tabindex="2" name="food_supplier_email" required autofocus>
    </fieldset>
    <fieldset>
      <label for="cars">Supplier Contact: <label style="color:red;">*</label></label>
      <input placeholder="Phone Number" type="tel" tabindex="3" name="food_supplier_contact" required autofocus>
    </fieldset>
    <fieldset>
      <label for="cars">Supplier State: <label style="color:red;">*</label></label><br>
      <select onchange="print_city('state', this.selectedIndex);" id="sts" name="food_supplier_state" style="color: black;" required autofocus></select>
    </fieldset>
    <br>
    <fieldset>
      <label for="cars">Supplier City: <label style="color:red;">*</label></label><br>
      <select id="state" style="color: black;" name="food_supplier_city" required autofocus></select>
    </fieldset>
     <fieldset>
      <label for="cars">Supplier Address <label style="color:red;">*</label></label>
      <textarea id="w3review" name="food_supplier_address" rows="2" cols="20" required autofocus></textarea>
    </fieldset>

    <fieldset class="form-inline">
      <label for="cars">Service Type : <label style="color:red;">*</label></label><p></p>
      <input type="radio" id="Free" name="food_supplier_service" value="Free">
      <label for="Free">Free</label><br>
      <input type="radio" id="Paid" name="food_supplier_service" value="Paid">
      <label for="Paid">Paid</label><br>
      <input type="radio" id="dont know" name="food_supplier_service" value="Don't Know">
      <label for="Don't Know">Don't Know</label>
    </fieldset>
    
    <fieldset class="form-inline">
      <label for="cars">Is it verified by you? : <label style="color:red;">*</label></label><p></p>
      <input type="radio" id="yes" name="food_supplier_verify" value="Verified">
      <label for="Verified">Yes</label><br>
      <input type="radio" id="no" name="food_supplier_verify" value="Unverified">
      <label for="Unverified">No</label><br>
      <input type="radio" id="dont know" name="food_supplier_verify" value="Unverified">
      <label for="Unverified">Don't Know</label>
    </fieldset>

     <fieldset>
      <label for="cars">Additional Details</label>
      <textarea id="w3review" name="food_supplier_details" rows="4" cols="50"></textarea>
    </fieldset>

    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>

  </form>


</div>

{% endblock %}

{% block script %}
	<script src="/media/js/state_city.js"></script>
  <script>print_state("sts");</script>
{% endblock script %}
