{% extends 'basic.html' %}
{% load humanize %}

{% block basic_title %} Discussion {% endblock basic_title %}

{% block basic_head %}

<link href="http://netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
    integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
<link rel="stylesheet" href="/media/css/discussion.css">
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

{% endblock basic_head %}

{% comment %} <body> {% endcomment %}
{% block basic_body %}

    <div class="container" style="margin-top: 30px;">
        <div class="main-body p-0">
            <div class="inner-wrapper">
                <!-- Inner sidebar -->
                <div class="inner-sidebar">
                    <!-- Inner sidebar header -->
                    <div class="inner-sidebar-header justify-content-center">
                        {% if request.user.is_authenticated %}

                        <button class="btn btn-primary has-icon btn-block" type="button" data-toggle="modal"
                            data-target="#threadModal" style="background-color: #47E0B0;border-color:white">
                            + NEW DISCUSSION
                        </button>

                        {% else %}

                        <button class="btn btn-primary has-icon btn-block" style="background-color: #47E0B0;border-color:white" type="button" onclick="LoginAlert()">
                            + NEW DISCUSSION
                        </button>

                        {% endif %}
                    </div>
                    <!-- /Inner sidebar header -->

                    <!-- Inner sidebar body -->
                    <div class="inner-sidebar-body p-0">
                        <div class="p-3 h-100" data-simplebar="init">
                            <div class="simplebar-wrapper" style="margin: -16px;">
                                <div class="simplebar-height-auto-observer-wrapper">
                                    <div class="simplebar-height-auto-observer"></div>
                                </div>
                                <div class="simplebar-mask">
                                    <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                        <div class="simplebar-content-wrapper"
                                            style="height: 100%; overflow: hidden scroll;">
                                            <div class="simplebar-content" style="padding: 16px;">
                                                <nav class="nav nav-pills nav-gap-y-1 flex-column">
                                                    <a href="javascript:void(0)"
                                                        class="nav-link nav-link-faded has-icon active no_filter" id="no_filter" >All
                                                        Discussions</a>
                                                    <br>
                                                    <label style="font-size: 15px;font-weight:600"><i
                                                            class="fas fa-filter"></i>Select the below option for only
                                                        Verified leads</label>

                                                    <a href="javascript:void(0)"
                                                        class="nav-link nav-link-faded has-icon verified_filter" id="verified_filter"
                                                        onclick="applyFilter('Verified',this)">Verified</a>

                                                    <hr style="height:1px; width:100%; border-width:0px;background-color:black">

                                                    <br>

                                                    <label style="font-size: 15px;font-weight:600"><i
                                                            class="fas fa-filter"></i>Select Any ONE of the
                                                        below</label>

                                                    <a href="javascript:void(0)"
                                                        class="nav-link nav-link-faded has-icon helping_filter" id="helping_filter"
                                                        onclick="applyFilter('Helping',this)">Providing Help</a>

                                                    <a href="javascript:void(0)"
                                                        class="nav-link nav-link-faded has-icon needhelp_filter" id="needhelp_filter"
                                                        onclick="applyFilter('Needhelp',this)">Help Needed</a>

                                                    <hr
                                                        style="height:1px; width:100%; border-width:0px;background-color:black">
                                                    <br>

                                                    <label style="font-size: 15px;font-weight:600"><i
                                                            class="fas fa-filter"></i>Select Any of the below</label>

                                                    <a href="javascript:void(0)"
                                                        class="nav-link nav-link-faded has-icon food_filter" id="food_filter"
                                                        onclick="applyFilter('Food',this)">Food</a>

                                                    <a href="javascript:void(0)"
                                                        class="nav-link nav-link-faded has-icon plasma_filter" id="plasma_filter"
                                                        onclick="applyFilter('Plasma',this)">Plasma</a>

                                                    <a href="javascript:void(0)"
                                                        class="nav-link nav-link-faded has-icon beds_filter" id="beds_filter"
                                                        onclick="applyFilter('Beds',this)">Beds</a>

                                                    <a href="javascript:void(0)"
                                                        class="nav-link nav-link-faded has-icon medicine_filter" id="medicine_filter"
                                                        onclick="applyFilter('Medicine',this)">Medicine</a>

                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                                <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                            </div>
                            <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                                <div class="simplebar-scrollbar"
                                    style="height: 151px; display: block; transform: translate3d(0px, 0px, 0px);"></div>
                            </div>
                        </div>
                    </div>
                    <!-- /Inner sidebar body -->
                </div>
                <!-- /Inner sidebar -->

                <!-- Inner main -->
                <div class="inner-main">
                    <!-- Inner main header -->

                    <div class="inner-main-header" style="justify-content: space-between;">
                        {% if request.user.is_authenticated %}
                        <button class="btn btn-primary has-icon btn-block d-md-none" style="background-color: #47E0B0;border-color:white" type="button" data-toggle="modal"
                            data-target="#threadModal" style="padding: 0px;font-size: 12px;width:34%">
                            NEW DISCUSSION
                        </button>
                        {% else %}
                        <button class="btn btn-primary has-icon btn-block d-md-none" style="background-color: #47E0B0;border-color:white" type="button" onclick="LoginAlert()" style="padding: 0px;font-size: 12px;width:34%">
                            NEW DISCUSSION
                        </button>
                        {% endif %}
                    
                        <button class="btn btn-primary has-icon btn-block d-md-none" type="button" data-toggle="modal"
                            data-target="#filterModal"
                            style="padding: 0px;font-size: 14.4px;width:34%;margin-top: 0.2rem;background-color: #47E0B0;border-color:white">
                            APPLY FILTERS
                        </button>
                    </div>
                    <!-- /Inner main header -->

                    <!-- Inner main body -->

                    <!-- Forum List -->
                    <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">

                        {% for discussion in all_dis %}
                        <div class="card mb-2">
                            <div class="card-body p-2 p-sm-3" style="padding-bottom: 0px !important">
                                <div class="media forum-item">
                                    <img src="/media/images/discussion/help.png" class="mr-3 rounded-circle" width="50" alt="power" />
                                    <div class="media-body">
                                        <h6><a href="javascript:void(0)" style="text-decoration: none;word-break: break-word;"
                                                data-toggle="modal" data-target="#threadModal{{forloop.counter}}"
                                                class="text-body stretched-link"
                                                onclick="showComments({{discussion.id | safe}})">{{discussion.title}}</a>
                                        </h6>
                                        <p class="text-secondary">
                                            {{discussion.information | slice:":100"}}
                                        </p>
                                        <!-- Displaying the hastags -->
                                        <div class="choices__list choices__list--multiple"
                                            id="display_hashtags{{forloop.counter}}">

                                            <script>
                                                all_hastags = "{{discussion.hashtags | safe}}".split(",")
                                                for (i = 0; i < all_hastags.length; i++) {
                                                    $("#display_hashtags{{forloop.counter | safe}}").append(`
                                                    <div class="choices__item choices__item--selectable" data-item="" data-id="${i}" data-value="${all_hastags[i]}" data-custom-properties="null" data-deletable="" aria-selected="true" style="padding-right: 9px;">
                                                        ${all_hastags[i]}
                                                        </div>
                                                    `)
                                                }
                                            </script>
                                        </div>
                                        <p class="text-muted" style="font-size: 12px;padding-top:3px;"><a
                                                href="javascript:void(0)" style="color:black">{{discussion.user}}</a>
                                            added
                                            <span
                                                class="text-secondary font-weight-bold">{{discussion.timestamp | naturaltime}}</span>
                                        </p>
                                    </div>
                                    <div class="text-muted small text-center">
                                        {% if discussion.is_verified == "no" %}
                                        <button type="button" style="border-radius: 10%;"
                                            class="btn btn-outline-warning">Unverified</button>
                                        {% else %}
                                        <button type="button" style="border-radius: 20%;"
                                            class="btn btn-outline-success">Verified</button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="threadModal{{forloop.counter}}" tabindex="-1" role="dialog"
                            aria-labelledby="threadModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                    </div>
                                    <div class="card mb-2">
                                        <div class="card-body">
                                            <div class="media forum-item">
                                                <div class="media-body ml-3">
                                                    <a href="javascript:void(0)"
                                                        class="text-secondary">{{discussion.user}}</a>
                                                    <small
                                                        class="text-muted ml-2">{{discussion.timestamp | naturaltime}}</small>
                                                    <h5 class="mt-1">{{discussion.title}}</h5>
                                                    <div class="mt-3 font-size-sm">
                                                        <p>
                                                            {{discussion.information}}
                                                        </p>
                                                    </div>

                                                    <!-- Displaying Phone numbers only if present -->

                                                    {% if discussion.phone_nos %}

                                                    <div class="mt-3 font-size-sm">
                                                        <ul id="phone_num_list{{forloop.counter}}"
                                                            style="padding-left: 0px;">

                                                            <!-- Script to dynamically create li elements with the numbers -->

                                                            <script>
                                                                ul_list = document.getElementById("phone_num_list{{forloop.counter | safe}}")

                                                                all_nums = "{{discussion.phone_nos}}".split(",")

                                                                for (i = 0; i < all_nums.length; i++) {
                                                                    $("#phone_num_list{{forloop.counter | safe}}").append(
                                                                        `<li style="display: flex;font-size:15px">
                                                                                <p><b>Phone number</b> - ${all_nums[i]}</p>
                                                                                &nbsp;&nbsp;&nbsp;
                                                                                <a style="color:black" href="tel:${all_nums[i]}">
                                                                                    <i class="fas fa-phone"></i>
                                                                                </a>
                                                                                &nbsp;&nbsp;&nbsp;
                                                                                <a style="color:black" href="sms:${all_nums[i]}">
                                                                                    <i class="fas fa-sms"></i>
                                                                                </a>
                                                                            </li>`
                                                                    )
                                                                }
                                                            </script>

                                                        </ul>
                                                    </div>
                                                    {% endif %}

                                                    <!-- Displaying Blood Group if present -->

                                                    <!-- We check if the value is not "select" because that is the default for "not choosing" -->

                                                    {% if discussion.blood_grp != "Select" %}
                                                    <div class="mt-3 font-size-sm">
                                                        <p style="font-size:17px">
                                                            <b> Blood Group </b> - {{discussion.blood_grp}}
                                                        </p>
                                                    </div>
                                                    {% endif %}

                                                    <!-- Displaying google map link if available -->

                                                    {% if discussion.map_link%}
                                                    <div class="mt-3 font-size-sm">
                                                        <p style="font-size:15px">
                                                            <b>Google Map Link - </b>
                                                            <a target="_blank" href="{{discussion.map_link}}">Link</a>
                                                        </p>
                                                    </div>
                                                    {% endif %}

                                                    <div class="mt-3 font-size-sm">
                                                        <div class="user-comment">
                                                            <div class="comments-section"
                                                                id="CommentPanel{{discussion.id}}">
                                                                <h5>Total Comments(0)</h5>
                                                                <div class="comment-add">
                                                                    {% if request.user.is_authenticated %}
                                                                    <div class="field-comment">
                                                                        <textarea id="comment_area{{discussion.id}}"
                                                                            rows="4" cols="50"></textarea>
                                                                        <a class="btn btn--blue btn--small pull-right" style="background-color: #47E0B0 !important"
                                                                            href="javascript:void(0)"
                                                                            onclick="saveComment({{discussion.id | safe}})">Post
                                                                            Your Comment</a>
                                                                    </div>
                                                                    {% else %}
                                                                    <h4>Please Login to Post Comments!</h4>
                                                                    {% endif %}
                                                                </div>
                                                                <br><br>
                                                            </div>
                                                        </div>
                                                    </div>



                                                </div>
                                                <div class="small text-center">
                                                    {% if discussion.is_verified == "no" %}
                                                    <button type="button" style="border-radius: 10%;"
                                                        class="btn btn-outline-warning">Unverified</button>
                                                    {% else %}
                                                    <button type="button" style="border-radius: 20%;"
                                                        class="btn btn-outline-success">Verified</button>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                        <h2 id="no_results" style="display: none;padding-bottom:100px">NO RESULTS AVAILABLE :(</h2>
                        <div class="pagination__wrapper" id="main_pagination_div">
                            <ul class="pagination">

                                <!-- We show previous pages except for 1st page -->
                                {% if actual_page != 1 %}

                                <li>
                                    <a href="javascript:void(0)" onclick="changePage({{prev}})"><button class="prev"
                                            title="previous page">&#10094;</button></a>
                                </li>

                                <li>
                                    <a href="javascript:void(0)" onclick="changePage(1)"><button
                                            title="first page - page 1">1</button></a>
                                </li>

                                <!-- If we are on second page then no use of showing prev as it is 1 -->

                                {% if actual_page != 2 %}

                                <li>
                                    <span>...</span>
                                </li>


                                <li>
                                    <a href="javascript:void(0)" onclick="changePage({{prev}})"><button
                                            title="page {{prev}}">{{prev}}</button></a>
                                </li>

                                {% endif %}

                                {% endif %}

                                <li>
                                    <a href="javascript:void(0)" onclick="changePage({{actual_page}})"><button
                                            class="active"
                                            title="current page - page {{actual_page}}">{{actual_page}}</button></a>
                                </li>

                                <!-- We show next pages except for the last one -->
                                {% if actual_page != last_page %}

                                <!-- If we are on 2nd last page then by default the last page is next -->

                                {% if actual_page != last_page|add:"-1" %}
                                <li>
                                    <a href="javascript:void(0)" onclick="changePage({{next}})"><button
                                            title="page {{next}}">{{next}}</button></a>
                                </li>
                                <li>
                                    <span>...</span>
                                </li>
                                {% endif %}

                                <li>
                                    <a href="javascript:void(0)" onclick="changePage({{last_page}})"><button
                                            title="last page - page {{last_page}}">{{last_page}}</button></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" onclick="changePage({{next}})"><button class="next"
                                            title="next page">&#10095;</button></a>
                                </li>

                                {% endif %}
                            </ul>
                        </div>

                    </div>
                    <!-- /Forum List -->

                    <!-- /Inner main body -->
                </div>
                <!-- /Inner main -->
            </div>

            <!-- Filters modal -->
            <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModal"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <nav class="nav nav-pills nav-gap-y-1 flex-column">
                            <a href="javascript:void(0)"
                                class="nav-link nav-link-faded has-icon active no_filter" id="no_filter">All
                                Discussions</a>
                            <br>
                            <label style="font-size: 15px;font-weight:600"><i
                                    class="fas fa-filter"></i>Select the below option for only
                                Verified leads</label>

                            <a href="javascript:void(0)"
                                class="nav-link nav-link-faded has-icon verified_filter" id="verified_filter"
                                onclick="applyFilter('Verified',this)">Verified</a>

                            <hr
                                style="height:1px; width:100%; border-width:0px;background-color:black">

                            <br>

                            <label style="font-size: 15px;font-weight:600"><i
                                    class="fas fa-filter"></i>Select Any ONE of the
                                below</label>

                            <a href="javascript:void(0)"
                                class="nav-link nav-link-faded has-icon helping_filter" id="helping_filter"
                                onclick="applyFilter('Helping',this)">Providing Help</a>

                            <a href="javascript:void(0)"
                                class="nav-link nav-link-faded has-icon needhelp_filter" id="needhelp_filter"
                                onclick="applyFilter('Needhelp',this)">Help Needed</a>

                            <hr
                                style="height:1px; width:100%; border-width:0px;background-color:black">
                            <br>

                            <label style="font-size: 15px;font-weight:600"><i
                                    class="fas fa-filter"></i>Select Any of the below</label>

                            <a href="javascript:void(0)"
                                class="nav-link nav-link-faded has-icon food_filter" id="food_filter"
                                onclick="applyFilter('Food',this)">Food</a>

                            <a href="javascript:void(0)"
                                class="nav-link nav-link-faded has-icon plasma_filter" id="plasma_filter"
                                onclick="applyFilter('Plasma',this)">Plasma</a>

                            <a href="javascript:void(0)"
                                class="nav-link nav-link-faded has-icon beds_filter" id="beds_filter"
                                onclick="applyFilter('Beds',this)">Beds</a>

                            <a href="javascript:void(0)"
                                class="nav-link nav-link-faded has-icon medicine_filter" id="medicine_filter"
                                onclick="applyFilter('Medicine',this)">Medicine</a>

                        </nav>
                    </div>
                </div>
            </div>


            <!-- /Filters modal -->

            <!-- New Thread Modal -->
            <div class="modal fade" id="threadModal" tabindex="-1" role="dialog" aria-labelledby="threadModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <form method="POST" action="{% url 'discussions' %}"> {% csrf_token %}
                            <div class="modal-header d-flex align-items-center bg-primary text-white">
                                <h6 class="modal-title mb-0" id="threadModalLabel">New Discussion</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">

                                    <!-- Heading of the discussion -->
                                    <label for="heading">Heading <span style="color: red;">*</span></label>
                                    <input type="text" name="title" class="form-control" id="heading" required />

                                    <br><br>

                                    <!-- verification Button -->
                                    <label>Is the Discussion Verified <span style="color: red;">*</span></label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="verify_status" id="verified"
                                            value="yes">
                                        <label class="form-check-label" for="verified">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="verify_status"
                                            id="unverified" checked value="no">
                                        <label class="form-check-label" for="unverified">
                                            No
                                        </label>
                                    </div>

                                    <br>

                                    <!-- Main Information -->
                                    <label for="main_info">Information <span style="color: red;">*</span></label>
                                    <textarea id="main_info" class="form-control" name="main_info" id="" cols="20"
                                        rows="6" required></textarea>

                                    <br>

                                    <!-- Radio Button -->
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="distype" id="distype1"
                                            value="Help Needed">
                                        <label class="form-check-label" for="distype1">
                                            I Want Help
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="distype" id="distype2"
                                            checked value="Helping">
                                        <label class="form-check-label" for="distype2">
                                            I Provide Help
                                        </label>
                                    </div>
                                    <br>

                                    <label for="blood_group">Select Blood Group</label>
                                    <select id="blood_group" name="blood_group"
                                        class="custom-select custom-select-sm w-auto mr-1 mx-1" required>
                                        <option selected="">Select</option>
                                        <option value="A+">A+</option>
                                        <option value="A-">A-</option>
                                        <option value="B+">B+</option>
                                        <option value="B-">B-</option>
                                        <option value="AB+">AB+</option>
                                        <option value="AB-">AB-</option>
                                        <option value="O+">O+</option>
                                        <option value="O-">O-</option>
                                    </select>

                                    <br>
                                    <br>

                                    <label for="ph_nos">Add Phone Numbers (Separated by comma ",") </label>
                                    <input type="text" name="ph_nos" class="form-control" id="ph_nos"/>

                                    <br>

                                    <label for="location">Google Maps Link of Location</label>
                                    <input type="text" name="location" class="form-control" id="location" />

                                    <br>

                                    <label>Select Discussion Related tags (Atleast One) <span style="color: red;">*</span></label>
                                    <!-- Multi Select Drop down -->

                                    <div class="row d-flex justify-content-left mt-100">
                                        <div class="col-md-6"> <select id="choices-multiple-remove-button"
                                                placeholder="Select only relevant" name="hashtags" multiple required>
                                                <option value="Oxygen">Oxygen</option>
                                                <option value="Medicine">Medicine</option>
                                                <option value="Food">Food</option>
                                                <option value="Plasma">Plasma</option>
                                                <option value="Bed">Beds</option>
                                            </select>
                                        </div>
                                    </div>


                                </div>

                              
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                                <button type="submit" style="background-color: #47E0B0" class="btn btn-primary">Post</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock basic_body %}

{% block basic_scripts %}
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>   
    <script src="https://use.typekit.net/tqi0rfb.js"></script>
    <script>
        if({{items_length | safe}} == 0){
        document.getElementById("main_pagination_div").style.display = "none"
        document.getElementById("no_results").style.display = "block"
        }
    </script>
    <script src="/media/js/discussion.js"></script>
{% endblock basic_scripts %}